* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	background-color: #323232;
}

html, body {
	height: 100%;
}

.container-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
	position: relative;
	display: table-cell;
	width: 45px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

.container-menu p {
}

.core-nav {
	background: #00004d;
	border-right: 1px solid black;
	position: absolute;
	top:0;
	bottom: 0;
	height: 100%;
	left:0;
	width: 60px;
	overflow: hidden;
	transition: width 0.5s linear;
	z-index:1000;
	-webkit-transform:translateZ(0)scale(1,1);
}

.core-nav > ul {
	margin: 7px 0;
}

.core-nav li {
	list-style-type: none;
	position: relative;
	display: block;
	width: 250px;
}

.core-nav li a {
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: white;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform:translateZ(0)scale(1,1);
	transition: all .1s linear;
}

.core-nav .nav-icon {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 3px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

.core-nav .nav-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	background-color:#00004d;
}
/* Font-Awesome  */

.fa-2x {
	font-size: 2em;
}

.fa {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	background-color:#00004d;
}

.core-nav ul.logout {
	position: absolute;
	left: 0;
	bottom: 0;
}

.no-touch .scrollable.hover:hover {
	overflow-y: auto;
	overflow: visible;
}

a:hover,a:focus{
	text-decoration: none;
}

nav {
	user-select: none;
}

nav ul, nav li {
	outline: 0;
	margin: 0;
	padding: 0;
}

.core-nav li:hover a,
nav.nav-core li:hover a,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu .active a,
.dropdown-menu .active a:hover,
.dropdown-menu .active a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
	color: #1aa3ff;
}

.container-nav {
	float: left;
	width: 100%;
	height: 100%:
}

.core-nav:hover,nav.core-nav-menu.expanded {
	width: 250px;
	overflow: visible;

}
.core-nav li:hover {
	color: white;
}

/*.icon:hover {
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

#container-menu:hover .icon {
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}
*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
